{% load static %}

<div class="header">
    <div class="side-nav">
        <a href="#" class="logo">
            <img src="{% static 'images/tornillo.png' %}" class="logo-img"/>
        </a>
        <ul class="nav-links">
            <li><a href="#"><i class="fa-solid fa-house-user"></i><p>Tableros</p></a></li>
            <li><a href="#"><i class="fa-solid fa-message"></i><p>Mensajes</p></a></li>
            <li><a href="#"><i class="fa-solid fa-users"></i><p>Usuarios</p></a></li>
            <li><a href="#"><i class="fa-solid fa-bullhorn"></i><p>Reportes</p></a></li>
            <li><a href="#"><i class="fa-solid fa-list"></i><p>Configuración</p></a></li>
        </ul>
    </div>
</div>